body{
    background-color: black;

}
h3{
    color: white;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
h3:hover{
    color: rgb(105, 105, 224);
}